{% extends "nav_layout.html" %}

{% block contents %}
          <h2>New stall invoice</h2>
          <div class="element">
            <form action="{% url 'add_invoice' stall.id %}" method="POST">
              {% csrf_token %}
              <table class="apply">
                <tr><td class="key">Stall name</td><td class="value">{{ stall.name }}</td></tr>{% if stall.n_spaces %}
                <tr><td class="key">Spaces</td><td class="value">{{ stall.n_spaces }}</td></tr>{% endif %}{% if stall.mc_stall_option %}
                <tr><td class="key">Stall option</td><td class="value">{{ stall.mc_stall_option_str }}</td></tr>{% endif %}{% for field in form %}
                <tr><td class="key">{{ field.label_tag }}</td><td class="value">{{ field.errors }}{{ field }}</td></tr>{% endfor %}
              </table>
              <p><input type="submit" value="create invoice" /></p>
            </form>
          </div>
          <div class="cmd"><a href="{% url 'select_invoice' %}">&lt;&lt;cancel</a></div>
{% endblock %}
