{% extends "browser.html" %}

{% block browse_title %}Group: {{ group.name }}{% endblock %}

{% block browse_it %}{% if it.contactable.type_str = "person" %}
                <a href="{{ px }}abook/person/{{ it.person.id }}/">
                  {{ it.contactable.person.first_name }} {{ it.contactable.person.middle_name }} {{ it.contactable.person.last_name }}{% if it.role %}
                  &nbsp;({{ it.role }}){% endif %}
                </a>{% else %}
                <a href="{{ px }}abook/org/{{ it.contactable.organisation.id }}/">
                  {{ it.contactable.organisation.name }}
                </a> (organisation){% endif %}
{% endblock %}

{% block browse_footer %}
          <div class="cmd"><a href="{{ px }}export/group/{{ group.id }}/">&lt;export&gt;</a></div>
          <div class="cmd"><a href="{{ px }}export/group_email/{{ group.id }}/">&lt;e-mail list&gt;</a></div>
          <div class="cmd"><a href="{{ px }}export/group_org_pdf/{{ group.id }}/">&lt;PDF org forms&gt;</a></div>
          <div class="back"><a href="{{ px }}cams/participant/">&lt;&lt;&nbsp;back to the list of groups</a></p>
{% endblock %}
