{% extends "browser.html" %}

{% block browse_title %}Group: {{ group.name }}{% endblock %}

{% block browse_it %}
                <a href="{{ px }}abook/person/{{ it.person.id }}/">
                  {{ it.person.first_name }} {{ it.person.middle_name }} {{ it.person.last_name }}{% if it.role %}
                  &nbsp;({{ it.role }}){% endif %}
                </a>
{% endblock %}

{% block browse_footer %}
          <div class="cmd"><a href="{{ px }}export/group/{{ group.id }}/">&lt;export&gt;</a></div>
          <div class="back"><a href="{{ px }}cams/participant/">&lt;&lt;&nbsp;back to the list of groups</a></p>
{% endblock %}
