{% extends "browser.html" %}

{% block browse_title %}<h2>Stall invoices</h2>{% endblock %}

{% block browse_header %}
          <p class="sub-menu">{% for f in filters %}
            {% if f == filter %}<span class="current_nav">{{ f }}</span>{% else %}<a href="?filter={{ f }}">{{ f }}</a>{% endif %}{% if not forloop.last %}&nbsp;|{% endif %}{% endfor %}
          </p>
{% endblock %}

{% block browse_it %}
                <a href="{{ px }}cams/invoice/{{ it.id }}/">{{ it.stall }}</a>
                <div class="search-preview">{{ it.status_str }}, £{{ it.amount }}{% if it.reference %}, {{ it.reference }}{% endif %}</div>
{% endblock %}

{% block browse_footer %}
          <div class="cmd">
            <a href="{{ px }}cams/invoice/select/">&lt;new invoice&gt;</a>
            <a href="{{ px }}export/invoices/">&lt;export&gt;</a>
          </div>{% endblock %}
