{% extends "browser.html" %}

{% block browse_title %}Programme: events on the day of the fair{% endblock %}

{% block browse_header %}{% if listings %}
          <p class="sub-menu">
            <a href="?listing=">{% if current < 0 %}<span class="current_nav">All</span>{% else %}All{% endif %}</a>
            |&nbsp;<a href="?listing=_default">{% if current == 0 %}<span class="current_nav">Default</span>{% else %}Default{% endif %}</a>{% for it in listings %}
            |&nbsp;<a href="?listing={{ it.id }}">{% if it.id == current %}<span class="current_nav">{{ it.name }}</span>{% else %}{{ it.name }}{% endif %}</a>{% endfor %}{% endif %}
          </p>
          <div class="element">
            <form action="" method="get">
              {{ search_form.match }}
              <input type="submit" value="search" />
            </form>
          </div>{% endblock %}

{% block browse_it %}
                <a href="{{ px }}{{ url }}{{ it.id }}/">{{ it.name }}</a>{% if it.status_str != "active" %}&nbsp;
                <span class="notice" style="font-size: 0.85em">
                  {% if it.status_str == "new" %}not confirmed{% else %}{% if it.status_str == "disabled" %}cancelled{% endif %}{% endif %}
                </span>{% endif %}
{% endblock %}

{% block browse_footer %}
          <div class="cmd"><a href="{{ px }}export/programme/{% if current >= 0 %}?listing={{ current }}{% endif %}">&lt;export&gt;</a></div>{% endblock %}
