{% extends "browser.html" %}

{% block browse_title %}Programme: events on the day of the fair{% endblock %}

{% block browse_header %}{% if listings %}
          <p style="font-size: 0.85em">
            <a href="?listing=">{% if not current %}<span class="current_nav">All</span>{% else %}All{% endif %}</a>{% for it in listings %}
            &nbsp;|&nbsp;<a href="?listing={{ it.id }}">{% if it.id == current %}<span class="current_nav">{{ it.name }}</span>{% else %}{{ it.name }}{% endif %}</a>{% endfor %}{% endif %}
          </p>{% endblock %}

{% block browse_it %}
                <a href="{{ px }}{{ url }}{{ it.id }}/">
                  {{ it.name }}{% if it.status_str == "new" %} (not confirmed){% else %}{% if it.status_str == "disabled" %} (cancelled){% endif %}{% endif %}
                </a>
{% endblock %}

{% block browse_footer %}
          <div class="cmd"><a href="{{ px }}cams/prog/export/">&lt;export&gt;</a></div>{% endblock %}
