{% extends "nav_layout.html" %}
{% load mrwf_extra %}

{% block contents %}
          <h2>{{ inv.stall }}</h2>
          <table class="details">
            <tr><td class="key">event</td><td class="value"><a href="{{ px }}cams/prog/{{ inv.stall.id }}/">{{ inv.stall.name }}</a></td></tr>
            <tr><td class="key">owner</td><td class="value"><a href="{% abook_url inv.stall.owner %}">{{ inv.stall.owner }}</a></td></tr>{% if inv.stall.org %}
            <tr><td class="key">organisation</td><td class="value"><a href="{% abook_url inv.stall.org %}">{{ inv.stall.org }}</a></td></tr>{% endif %}
            <tr><td class="key">spaces</td><td class="value">{{ inv.stall.n_spaces }}</td></tr>
            <tr class="separator"><td class="key">tables</td><td class="value">{{ inv.stall.n_tables }}</td></tr>
            <tr><td class="key">amount</td><td class="value">{{ inv.amount }}</td></tr>
            <tr><td class="key">status</td><td class="value">{{ inv.status_str }}</td></tr>{% if inv.reference %}
            <tr><td class="key">reference</td><td class="value">{{ inv.reference }}</td></tr>{% endif %}
            <tr><td class="key">created</td><td class="value">{{ inv.created }}</td></tr>
            <tr><td class="key">sent</td><td class="value">{% if inv.sent %}{{ inv.sent }}{% else %}<a href="?set=sent">set as sent</a>{% endif %}</td></tr>
            <tr><td class="key">paid</td><td class="value">{% if inv.paid %}{{ inv.paid }}{% else %}<a href="?set=paid">set as paid</a>{% endif %}</td></tr>
          </table>{% with inv.stall as obj %}{% include "cams/invoice-contact.html" %}{% endwith %}
          <div class="cmd">
            <a href="edit/">&lt;edit&gt;</a>
            <a href="hard_copy/">&lt;hard copy&gt;</a>
          </div>
          <div class="back"><a href="{% url invoices %}">&lt;&lt;back</a></div>
{% endblock %}
