<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="/static/mrwf/css/base.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-GB" />
    <title>MRWF{% if page_title %} - {{ page_title }}{% endif %}</title>
{% block head %}{% endblock %}  </head>
  <body>
    <h1>{{ page_title|default:"Mill Road Winter Fair - CAMS" }}</h1>{% block body %}{% endblock %}  </body>
</html>
