{% extends "nav_layout.html" %}

{% block contents %}{% block browse_header %}{% endblock %}{% include "paginator.html" %}{% if not page.object_list %}{% block browse_empty_list %}{% endblock %}{% else %}{% block browse_list %}
          <div class="element">
            <ul class="plain">{% for it in page.object_list %}
              <li>{% block browse_it %}{% endblock %}              </li>{% endfor %}
            </ul>
          </div>{% endblock %}
          <span class="cmd">{{ page.paginator.count }} entries found</span>{% include "paginator.html" %}{% endif %}{% block browse_footer %}{% endblock %}
{% endblock %}
