{% extends "nav_layout.html" %}

{% block contents %}
          {% block browse_header %}{% endblock %}{% if page.object_list %}{% block browse_list %}
          <div class="element">
            <ul class="plain">{% for it in page.object_list %}
              <li>{% block browse_it %}{% endblock %}              </li>{% endfor %}
            </ul>
          </div>{% endblock %}{% if page.paginator.num_pages > 1 %}
          <div class="element paginator">{% if page.has_previous %}
            <a href="{{ px }}{{ url }}?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ page.previous_page_number }}">&lt;-&nbsp;</a>{% endif %}
            <span class="current_page">{{ page.number }}&nbsp;/&nbsp;{{ page.paginator.num_pages }}</span>{% if page.has_next %}
            <a href="{{ px }}{{ url }}?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ page.next_page_number }}">&nbsp;-&gt;</a>{% endif %}
          </div>{% endif %}{% endif %}{% block browse_footer %}{% endblock %}
{% endblock %}
