{% extends "nav_layout.html" %}

{% block contents %}
          <div class="textblock">
            <h2>Welcome the the MRWF-CAMS.</h2>
            <p>
            Please use the links on the left hand side to navigate through the
            site.  This is what you will find in each section:
            </p>
            <p>
              <h3>User Profile</h3> Check and edit your personal details, email
              address, user name and password.
            </p>
            <p>
              <h3>Address Book</h3> Search for contact details of various
              people and organisations related to the Mill Road Winter Fair.
            </p>
            <p>
              <h3>Groups</h3> Manage groups of people.  This is where you will
              find the list of stewards, stall holders, advertisers, volunteers
              ...
            </p>
<!--
            <p>
              <h3>Preparation</h3> Track all the events and meetings that
              happen around the Fair.  All the messages exchanged regarding the
              preparation and events on the Day of the Fair are logged here, as
              well as invoices.
            </p>
-->
            <p>
              <h3>Programme</h3> Manage the programme of events on the Day of
              the Fair.
            </p>{% if user.is_staff %}
            <p>
              <h3>Applications</h3> List the applications received on-line.
              <span style="font-style: italic"></span>
            </p>{% endif %}
<!--
            <p>
              <h3>Fairs</h3> This is a list of all the Fairs which lets you
              look back at previous ones as well as start thinking about the
              future ones.
            <p>
-->
            </p>{% if user.is_staff %}
            <p>
              <h3>Admin</h3> You are an administrator user so you have access
              to the Django administration.  It allows you to edit parts of the
              information that are not manageable through this interface.
            </p>{% endif %}
          </div>
{% endblock %}
