{% if page.paginator.num_pages > 1 %}
          <div class="element paginator">
            <form action="" method="get">{% if page.number > 2 %}
            <a href="?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ 1 }}">1</a>&nbsp;...{% endif %}{% if page.has_previous %}
            <a href="?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>{% endif %}
            <span class="current_nav">{{ page.number }}</span>{% if page.has_next %}
            <a href="?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ page.next_page_number }}">{{ page.next_page_number }}</a>{% endif %}{% if page.number < page.paginator.num_pages|add:"-1" %}
            ...&nbsp;<a href="?{% if urlmatch %}{{ urlmatch }}&{% endif %}page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>{% endif %}{% if page.paginator.num_pages > 5 %}
              <input type="text" name="page" value="{{ page.number }}" size="3" />{% for opt, value in urlopt %}
              <input type="hidden" name="{{ opt }}" value="{{ value }}" />{% endfor %}
              <input type="submit" value="jump" />{% endif %}
            </form>
          </div>{% endif %}
