{% extends "nav_layout.html" %}

{% block contents %}
          <h2>Change password</h2>
          <form method="post" action="{{ px }}profile/edit/password/">
            {% csrf_token %}
            <table class="apply">{% for f in f_passwd %}
{% include "public/apply_field.html" %}{% endfor %}
            </table>
            <p>* required</p>
            <p><input type="submit" value="change" /></p>
          </form>
          <div class="cmd"><a href="{{ px }}profile/edit/">&lt;&lt;&nbsp;back to edit profile</a></div>
{% endblock %}
