{% extends "nav_layout.html" %}

{% block contents %}
          <h2>Change password</h2>
          <form method="post" action="{{ px }}profile/password/">
            {% csrf_token %}
            <table class="apply">{% for f in f_pwd %}
{% include "public/apply_field.html" %}{% endfor %}
            </table>
            <p>* required</p>
            <p><input type="submit" value="change" /></p>
          </form>
          <div class="cmd"><a href="{{ px }}profile/">&lt;&lt;&nbsp;cancel and go back to profile</a></div>
{% endblock %}
