{% extends "nav_layout.html" %}

{% block contents %}
          <table class="details separator">{% if person.title != null %}
            <tr><td class="key">title</td><td class="value">{{ person.title_str }}</td></tr>{% endif %}
            <tr><td class="key">first name</td><td class="value">{{ person.first_name }}</td></tr>{% if person.middle_name %}
            <tr><td class="key">middle name</td><td class="value">{{ person.middle_name }}</td></tr>{% endif %}
            <tr><td class="key">last name</td><td class="value">{{ person.last_name }}</td></tr>
          <table class="details separator">
            <tr><td class="key">user name</td><td class="value">{{ user.username }}</td></tr>{% if user.email %}
            <tr><td class="key">user email</td><td class="value">{{ user.email }}</td></tr>{% endif %}
          </table>
          <table>{% if contact %}{% with contact as c %}
{% include "abook/details.html" %}{% endwith %}{% else %}
          <p>No contact details.</p>{% endif %}
          <div class="cmd"><a href="{{ px }}profile/email_test/">&lt;email test&gt;</a></div>
          <div class="cmd"><a href="{{ px }}profile/edit/">edit profile&nbsp;&gt;&gt;</a></div>
          <div class="cmd"><a href="{{ px }}profile/password/">change password&nbsp;&gt;&gt;</a></div>
          <p style="font-size: 0.7em">{% if django_version %}
            Django {{ django_version }}<br />{% endif %}{% if cams_version %}
            CAMS {{ cams_version }}<br />{% endif %}
          </p>
{% endblock %}
