{% extends "nav_layout.html" %}

{% block contents %}
          <h2>Edit profile</h2>
          <div class="element">
            <form method="post" action="{{ px }}profile/edit/">
              {% csrf_token %}
              <table class="apply">
                <tr><td class="apply-title" colspan="3"><h3>User information</h3></td></tr>
                <tr><th>{{ f_user.username.label_tag }}*</th><td>{{ f_user.username.errors }}{{ f_user.username }}</td></tr>
                <tr><th>{{ f_user.email.label_tag }}</th><td>{{ f_user.email.errors }}{{ f_user.email }}</td></tr>
                <tr><td colspan="3" style="font-size: 0.9em">Set this optional email address to receive automatic notifications instead of the main address below.</td></tr>
                <tr><td class="apply-title" colspan="3"><h3>Personal information</h3></td></tr>{% for f in p_form %}
{% include "public/apply_field.html" %}{% endfor %}
                <tr><td class="apply-title" colspan="3"><h3>Contact details</h3></td></tr>{% for f in c_form %}
{% include "public/apply_field.html" %}{% endfor %}
              </table>
              <p>* required</p>
              <p><input type="submit" value="save" /></p>
           </form>
          </div>
          <div class="cmd"><a href="{{ px }}profile/">&lt;&lt;&nbsp;cancel and go back to profile</a></div>
          <p style="font-size: 0.7em">{% if django_version %}
            Django {{ django_version }}<br />{% endif %}{% if cams_version %}
            CAMS {{ cams_version }}<br />{% endif %}
          </p>
{% endblock %}
