{% extends "base.html" %}
{% load mrwf_extra %}

{% block head %}
<script type="text/javascript" language="javascript">
<!--

function update_stall_type(obj)
{
  if (obj.value == '1') {
    document.getElementById('foodfair-stall').style.display = 'none';
    document.getElementById('market-stall').style.display = 'table';
  } else if (obj.value == '2') {
    document.getElementById('foodfair-stall').style.display = 'table';
    document.getElementById('market-stall').style.display = 'none';
  } else {
    document.getElementById('foodfair-stall').style.display = 'none';
    document.getElementById('market-stall').style.display = 'none';
  }
}

function on_page_load()
{
  update_stall_type(document.getElementById('id_stall_type'));
}

function on_stall_type_change(obj)
{
  update_stall_type(obj);
  obj.scrollIntoView(true);
}

if (window.addEventListener) {
  window.addEventListener('load', on_page_load, false); //W3C
} else {
  window.attachEvent('onload', on_page_load); //IE
}

-->
</script>
{% endblock %}

{% block page_header %}<h1>Mill Road Winter Fair - {{ fair.date|date:"l jS F Y" }}</h1>{% endblock %}

{% block body %}
      <h2>Stall holder application form</h2>
      <p>
        Please visit the <a href="http://millroadwinterfair.org">MRWF website</a>
        and its
        <a href="http://www.millroadwinterfair.org/stalls-at-the-2012-fair/">stalls section</a>
        regularly to get the latest news.
      </p>
      <p class="apply-help" style="font-weight: bold">Note: Fields with a * are required.</p>{% if form.has_errors %}
      <p class="errorlist">Some errors were found, please go through the form and correct them as described.</p>{% endif %}
      <form method="post" action="{{ px }}public/apply/">
        {% csrf_token %}
        <table class="apply">
          {% form_title_row "Your contact details" 2 %}{% for f in form.p %}
          {% field_row f %}{% endfor %}{% for f in form.c %}
          {% field_row f %}{% endfor %}
          {% form_title_row "Invoice contact" 2 %}
          <tr>
            <td colspan="3" class="apply-notes">
              Please fill in this part if you wish to receive the invoice at a
              different address than the one given above.
            </td>
          </tr>{% for f in form.ip %}
          {% field_row f form.ip.is_empty %}{% endfor %}{% for f in form.ic %}
          {% field_row f form.ic.is_empty %}{% endfor %}
          {% form_title_row "Stall details" 2 %}
          <tr>
            <th class="apply-label"><label for="id_name">Name of your stall*</label></th>
            <td colspan="2">{{ form.s.name.errors }}{{ form.s.name }}</td>
          </tr>
          <tr>
            <th class="apply-label"><label for="id_org_name">Organisation name</label></th>
            <td colspan="2">{{ form.s.org_name.errors }}{{ form.s.org_name }}</td>
          </tr>
          <tr>
            <th class="apply-label">
              <label for="id_description">
                Brief description of<br />
                what will be happening<br />
                on your stall*<br />
              </label>
            </th>
            <td colspan="2">{{ form.s.description.errors }}{{ form.s.description }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Please note that this description may be used to search in the
              programme on the Mill Road Winter Fair website.
            </td>
          </tr>
          <tr>
            <th class="apply-label"><label for="id_main_contact">Main contact</label></th>
            <td colspan="2">{{ form.s.main_contact.errors }}{{ form.s.main_contact }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Please select a main contact you wish to be included on the programme of the Fair.
            </td>
          </tr>
          <tr>
            <th class="apply-label">
              <label for="id_web_contact">
                Extra contact details<br />
                you wish to include<br />
                on the website
            </label>
            </th>
            <td colspan="2">{{ form.s.extra_web_contact.errors }}{{ form.s.extra_web_contact }}</td>
          </tr>
          <tr>
            <th class="apply-label">
              <label for="id_media_usage">
                Media usage
              </label>
            </th>
            <td colspan="2">{{ form.s.media_usage.errors }}{{ form.s.media_usage }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Please tick this box if you would be happy to be interviewed or
              your stall and featured in any radio or magazine article.
            </td>
          </tr>
          <tr>
            <th class="apply-label">
              <label for="id_comments">
                Any other comments<br />
                you would like to make
              </label>
            </th>
            <td colspan="2">{{ form.s.comments.errors }}{{ form.s.comments }}</td>
          </tr>
          <tr>
            <th class="apply-label">Stall type</th>
            <td colspan="2">{{ form.s.stall_type.errors }}{{ form.s.stall_type }}</td>
          </tr>
        </table>

        <!-- Market & Craft Stalls -->
        <table class="apply" id="market-stall">
          {% form_title_row "Market &amp; Craft" 2 %}
          <tr>
            <td colspan="3" class="apply-notes">
              <div class="apply-info">
                <p>
                  Stalls are located in marquees at a number of sites in the
                  Mill Road area - Donkey Green and Ditchburn Gardens.
                  Tables will be provided in all marquees as part of the
                  stall fee.  A space in the marquee is approximately 2m x 1m.
                  Outside spaces are 3m x 3m, <span style="font-weight:
                  bold">outside tables and gazebos are not provided</span>.
                  Additional outside space may also be provided near Donkey
                  Green if demand for space is high.
                </p>
                <p>
                  The MRWF Committee reserve the right to determine stall
                  location.  Successful applications will be confirmed by
                  October 15.
                </p>
                <p>
                  Please read the
                  <a href="http://www.millroadwinterfair.org/assets/Market-Stall-Fact-Sheet.pdf">
                    Market &amp; Craft fact sheet</a>.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <th class="apply-label">
              <label for="id_mc_stall_option">Stall options*</label>
            </th>
            <td colspan="2">{{ form.s.mc_stall_option.errors }}{{ form.s.mc_stall_option }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Inside the marquee, 1 table: £30<br />
              Inside the marquee, 2 tables: £60<br />
              Outside: £25<br />
            </td>
          </tr>
        </table>

        <!-- Food Fair -->
        <table class="apply" id="foodfair-stall">
          {% form_title_row "Food Fair" 2 %}
          <tr>
            <td colspan="3" class="apply-notes">
              <span style="font-weight: bold">On-site requirements:</span>
              <div class="apply-info">
                <p>
                  The Food Fair will be located at Gwydir Street.  Please note
                  there are no facilities available at the food fair.  Stall
                  holders are required to bring tables, gazebos and any other
                  equipment required, such as generators.  Stalls will be
                  located on solid concrete foundations so gazebos will need to
                  be secured safely without ground fastenings.
                </p>
                <p>
                  Please read the
                  <a href="http://www.millroadwinterfair.org/assets/Food-Fair-Fact-Sheet.pdf ">
                    Food Fair fact sheet</a>.
                </p>
            </td>
          </tr>
          <tr>
            <th class="apply-label"><label for="id_plot_type">Plot type*</label></th>
            <td colspan="2">{{ form.s.plot_type.errors }}{{ form.s.plot_type }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Plot type A: 3m x 3m, £50<br />
              Plot type B: 3m x 4m, £75<br />
              Plot type C: 3m x 5m, £85<br />
            </td>
          </tr>
          <tr>
            <th class="apply-label"><label for="id_infrastructure">Infrastructure*</label></th>
            <td colspan="2">{{ form.s.infrastructure.errors }}{{ form.s.infrastructure }}</td>
          </tr>
          <tr>
            <td colspan="3" class="apply-notes">
              Please describe the infrastructure of your stall.<br />
              For example, hot food van or table under gazebo, no power etc...<br />
              Providing this information will help us locate you in a safe position. 
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <p class="apply-info">
                The MRWF Food Fair is a public event and all stall holders must
                follow the food hygiene regulations and guidelines for outdoor
                events as published by Cambridge City Council.
              </p>
              <p class="apply-info">
                {% if form.s.food_safety_read.errors %}<p>{{ form.s.food_safety_read.errors }}</p>{% endif %}
                {{ form.s.food_safety_read }} I have read the
                <a href="http://www.millroadwinterfair.org/stalls/" target="_blank">
                  food safety information</a>.
              </p>
              <p class="apply-info">
                On confirmation of a stall at the Food Fair you will be sent a
                further council form to complete as described in the
                guidelines.
              </p>
            </td>
          </tr>
        </table>

        <p><input type="submit" value="Apply" /></p>
      </form>
{% endblock %}
