{% extends "base.html" %}

{% block body %}
<p class="apply-info">
  Thank you for applying on-line.{% if email %}<br />A confirmation e-mail has been
  sent to <span style="font-family: courier; font-size: 1.0em;">{{ email }}</span>{% endif %}
</p>
<p class="apply-info">
  We will go through your application as soon as we can.  It may take a few
  weeks before we come back to you.
</p>
<p>
  Best wishes,<br />
  Fiona
</p>
<p style="font-size: 0.9em">
  MRWF Committee - Food Fair and Stalls
</p>
{% endblock %}
