{% extends "browser.html" %}

{% block browse_title %}{{ obj.name_nn }}{% endblock %}

{% block browse_header %}{% block detail_name %}{% endblock %}
          <div>{% if not contacts %}
            <span class="search-no-contact">Sorry, no contact details</span></p>{% else %}{% for c in contacts %}
{% include "abook/details.html" %}{% endfor %}{% endif %}
          </div>{% if user.is_staff %}
          <div class="cmd">
            <a href="{{ url }}edit/?{{ urlmatch }}">&lt;edit&gt;</a>
            &nbsp;<a href="{{ url }}disable/?{{ urlmatch }}">&lt;disable&gt;</a>
            &nbsp;<a href="{{ url }}delete/?{{ urlmatch }}">&lt;delete&gt;</a>
            </div>{% endif %}{% endblock %}

{% block browse_footer %}
{% if urlmatch %}          <div class="back"><a href="{% url abook_search %}?{{ urlmatch }}">&lt;&lt;&nbsp;back to the search</a></div>{% endif %}{% endblock %}
