{% extends "browser.html" %}
{% load mrwf_extra %}

{% block page_title %}MRWF - {{ obj }}{% endblock %}

{% block browse_header %}
          <h2 class="status-{{ obj.status_str }}">{{ obj.name_nn }}</h2>{% if obj.status_str == "disabled" %}
          <div class="obj-disabled">This entry has been disabled.</div>{% else %}{% if obj.status_str == "new" %}
          <div class="obj-new">This is a new entry.</div>{% endif %}{% endif %}{% block detail_name %}{% endblock %}
          <div>{% if not contacts %}
            <span class="search-no-contact">Sorry, no contact details</span></p>{% else %}{% for c in contacts %}
{% include "abook/contact-details.html" %}{% endfor %}{% endif %}
          </div>{% if perms.cams.abook_edit %}
          <div class="cmd">
            <a href="{% abook_url obj 'edit' %}?{{ urlmatch }}">&lt;edit&gt;</a>{% if obj.status_str == "new" or obj.status_str == "disabled" %}
            &nbsp;<a href="{% abook_url obj 'activate' %}?{{ urlmatch }}">&lt;activate&gt;</a>{% endif %}{% if obj.status_str == "active" or obj.status_str == "new" %}
            &nbsp;<a href="{% abook_url obj 'disable' %}?{{ urlmatch }}">&lt;disable&gt;</a>{% endif %}{% if perms.cams.abook_delete %}
            &nbsp;<a href="{% abook_url obj 'delete' %}?{{ urlmatch }}">&lt;delete&gt;</a>{% endif %}{% if perms.cams.abook_add %}
            <a href="{% abook_url obj 'add_member' %}">&lt;add member{% if obj.type_str = "person" %}ship{% endif %}&gt;</a>{% endif %}{% if perms.cams.abook_edit %}
            &nbsp;<a href="{% url abook:obj_history obj.id %}">view history&nbsp;&gt;&gt;</a>{% endif %}
          </div>{% endif %}
          <div class="element group-list">{% if roles %}
            Groups: {% for role in roles %}&nbsp;&nbsp;
            <a href="{% url group role.group.id %}">{{ role.group.name }}</a>{% endfor %}{% else %}
            No groups.{% endif %}
            &nbsp;&nbsp;&nbsp;<a href="{% abook_url obj 'groups' %}">manage&nbsp;&gt;&gt;</a>
          </div>{% endblock %}

{% block browse_list %}
          <div class="element">
            <table class="member-list">{% for it in page.object_list %}
              <tr>
                <td colspan="2" class="member-spacer"></td>
              </tr>
              <tr>
                <td colspan="2" class="member-header">
                  <span{% if it.status_str != obj.status_str%} class="status-{{ it.status_str }}"{% endif %}>
                    {% block browse_link %}{% endblock %}{% if it.status_str = "disabled" and obj.status_str != "disabled" %} (this entry has been disabled){% endif %}
                  </span>
                </td>
              </tr>{% block browse_member %}{% endblock %}{% endfor %}
            </table>
          </div>
{% endblock %}

{% block browse_footer %}
{% if urlmatch %}          <div class="back"><a href="{% url abook:search %}?{{ urlmatch }}">&lt;&lt;&nbsp;back to the search</a></div>{% endif %}{% endblock %}
