{% extends "browser.html" %}
{% load mrwf_extra %}

{% block page_title %}MRWF - {{ obj }}{% endblock %}

{% block browse_header %}
          <h2>{{ obj.name_nn }}</h2>{% block detail_name %}{% endblock %}
          <div>{% if not contacts %}
            <span class="search-no-contact">Sorry, no contact details</span></p>{% else %}{% for c in contacts %}
{% include "abook/details.html" %}{% endfor %}{% endif %}
          </div>{% if perms.cams.abook_edit %}
          <div class="cmd">
            <a href="{% abook_url obj %}edit/?{{ urlmatch }}">&lt;edit&gt;</a>
            &nbsp;<a href="{% abook_url obj %}disable/?{{ urlmatch }}">&lt;disable&gt;</a>{% if perms.cams.abook_delete %}
            &nbsp;<a href="{% abook_url obj %}delete/?{{ urlmatch }}">&lt;delete&gt;</a>{% endif %}
          </div>{% endif %}{% endblock %}

{% block browse_footer %}
{% if urlmatch %}          <div class="back"><a href="{% url abook:search %}?{{ urlmatch }}">&lt;&lt;&nbsp;back to the search</a></div>{% endif %}{% endblock %}
