            <table class="details">{% if c.line_1 or c.line_2 or c.line_3 %}
              <tr>
                <td class="key">address</td>
                <td class="value">{% if c.line_1 %}
                  {{ c.line_1 }}{% endif %}{% if c.line_2 %}<br />
                  {{ c.line_2 }}{% endif %}{% if c.line_3 %}<br />
                  {{ c.line_3 }}{% endif %}
                </td>
              </tr>{% endif %}{% if c.postcode %}
              <tr><td class="key">postcode</td><td class="value">{{ c.postcode }}</td></tr>{% endif %}{% if c.town %}
              <tr><td class="key">town</td><td class="value">{{ c.town }}</td></tr>{% endif %}{% if c.telephone %}
              <tr><td class="key">telephone</td><td class="value">{{ c.telephone }}</td></tr>{% endif %}{% if c.mobile %}
              <tr><td class="key">mobile</td><td class="value">{{ c.mobile }}</td></tr>{% endif %}{% if c.email %}
              <tr><td class="key">e-mail</td><td class="value"><a href="mailto:{{ c.email }}">{{ c.email }}</a></td></tr>{% endif %}{% if c.website %}
              <tr><td class="key">website</td><td class="value">{{ c.website|urlizetrunc:36 }}</td></tr>{% endif %}{% if c.addr_order %}
              <tr><td class="key">order</td><td class="value">{{ c.addr_order }}</td></tr>{% endif %}{% if c.addr_suborder %}
              <tr><td class="key">sub-order</td><td class="value">{{ c.addr_suborder }}</td></tr>{% endif %}
            </table>
