{% extends "nav_layout.html" %}
{% load mrwf_extra %}

{% block contents %}
          <h2>{{ obj }}</h2>
          <div class="element">
            <form method="post" action="{% url 'abook:edit_member' obj.id %}?{{ urlmatch }}&src_obj_id={{ src_obj.id }}">
              {% csrf_token %}
              {{ cf_list.management_form }}
              <table class="apply">{% for cf in cf_list %}
                {% form_title_row "Contact details" 3 %}{% for f in cf %}
                {% field_row f %}{% endfor %}{% endfor %}
              </table>
              <p><input type="submit" value="save" name="save" /></p>
            </form>
          </div>
          <div class="cmd"><a href="{% abook_url src_obj %}?{{ urlmatch }}">&lt;&lt;&nbsp;cancel</a></div>
{% endblock %}
