{% extends "nav_layout.html" %}
{% load mrwf_extra %}

{% block contents %}
          <h2>{{ obj.name_nn }}</h2>
          <div class="element">
            <form method="post" action="{{ url }}edit/?{{ urlmatch }}">
              {% csrf_token %}
              <input type="hidden" name="confirm" value="yes" />
              <table class="apply">{% for f in f_obj %}
                {% field_row f %}{% endfor %}
              </table>
              <p>* required</p>
              <p><input type="submit" value="save" name="save" /></p>
            </form>
            <div class="cmd"><a href="{{ url }}?{{ urlmatch }}">&lt;&lt;&nbsp;cancel</a></div>
          </div>
{% endblock %}
