{% extends "browser.html" %}
{% load mrwf_extra %}

{% block browse_list %}
          <div class="element">
            <table class="details history">
              <tr class="separator">
                <th class="listing-sep">Date and time</th>
                <th class="listing-sep">User</th>
                <th class="listing-sep">Action</th>
                <th class="listing-sep">Entry</th>
                <th class="listing">Details</th>
              </tr>{% for it in page.object_list %}
              <tr>
                <td class="listing-sep">{{ it.datetime }}</td>
                <td class="listing-sep">{% player_link it.user %}</td>
                <td class="listing-sep">{{ it.action }}</td>
                <td class="listing-sep"><a href="{% abook_url it.obj %}">{{ it.obj }}</a></td>
                <td class="listing">{% if it.action == "EDIT" %}{{ it.args }}{% endif %}</td>
              </tr>{% endfor %}
            </table>
          </div>
{% endblock %}
