{% extends "abook/common_contacts.html" %}

{% block browse_title %}{{ org.name }}{% endblock %}

{% block browse_it %}
                <div class="element">
                  <div class="search-member">
                    <a href="{{ px }}abook/person/{{ it.person.id }}/?{{ urlmatch }}">{{ it.person.first_name }} {{ it.person.middle_name }} {{ it.person.last_name }}</a>
                  </div>
                  <div class="search-preview">
                    {% if it.contact %}{{ it.contact }}</span>{% else %}
                    <span class="search-no-contact">No member contact details{% endif %}</span>&nbsp;&nbsp;<span class="cmd"><a href="{{ px }}admin/cams/member/{{ it.id }}">&lt;edit&gt;</a>
                  </div>
                </div>
{% endblock %}

{% block detail_edit %}
          <div class="cmd"><a href="{{ px }}admin/cams/organisation/{{ org.id }}/">&lt;edit&gt;</a></div>{% endblock%}
