{% extends "nav_layout.html" %}

{% block contents %}
          <h2>Edit organisation</h2>
          <div class="element">
            <form method="post" action="{{ px }}{{ url }}/edit/">
              {% csrf_token %}
              <table class="apply">
                <tr><th>{{ f_org.name.label_tag }}*</th><td>{{ f_org.name.errors }}{{ f_org.name }}</td></tr>
                <tr><th>{{ f_org.nickname.label_tag }}</th><td>{{ f_org.nickname.errors }}{{ f_org.nickname }}</td></tr>
              </table>
              <p>* required</p>
              <p><input type="submit" value="save" /></p>
            </form>
            <div class="cmd"><a href="{{ px }}{{ url }}/?{{ urlmatch }}">&lt;&lt;&nbsp;cancel<a/></div>
          </div>
{% endblock %}
