{% extends "abook/common_contacts.html" %}
{% load mrwf_extra %}

{% block detail_name %}
          <div class="element">
            <table class="details separator">
              <tr><td class="key">name</td><td class="value">{{ obj.name }}</td></tr>{% if obj.nickname %}
              <tr><td class="key">nickname</td><td class="value">{{ obj.nickname }}</td></tr>{% endif %}
            </table>
          </div>{% endblock %}

{% block browse_it %}
                    <tr>
                      <td colspan="2" class="member-header">
                        <a href="{% abook_url it.person %}?{{ urlmatch }}">{{ it.person }}</a>
                      </td>
                    </tr>{% with it.person as other %}
{% include "abook/member_preview.html" %}{% endwith %}
{% endblock %}
