{% extends "browser.html" %}

{% block browse_header %}
          <div class="element">
            <form action="{{ px }}abook/" method="get">
              {{ form.match }}
              <input type="submit" value="search in the Address Book" />
            </form>
          </div>{% block detail %}{% endblock %}{% if not page.object_list and urlmatch %}
          <div class="element">No match, sorry.</div>{% endif %}{% endblock %}

{% block browse_it %}
                <a href="{{ px }}abook/{{ it.type }}/{{ it.id }}/?{{ urlmatch }}">{% if it.type = "person" %}
                  {{ it.first_name }} {{ it.middle_name }} {{ it.last_name }}{% else %}{% if it.type = "org" %}
                  {{ it.name }}{% if it.nickname %} ({{ it.nickname }}){% endif %}{% endif %}{% endif %}
                </a>
                <div class="search-preview">
                  {% if not it.contacts %}<span class="search-no-contact">No contact details</span>{% else %}{{ it.contacts|first }}{% endif %}
                </div>
{% endblock %}
